@{
    this.ViewData["Title"] = $"Welcome!";}


<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <hr class="bg-primary w-75">
    <h3>On our platform you will create and store your outfits</h3>
</div>
@*<div id="container-background" style="background-image">
        <div id="container">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIn1sHiWwlcJbcuc06VCCpxJePdsgIA28VZw&usqp=CAU"  width="1100" height="530" /></div>
    </div>*@

@section Scripts {

    <partial name="_ValidationScriptsPartial" />

}
